@use "__config" as *;

.btn {
   --bg-clr: var(--clr-accent);
   --clr: var(--clr-black);
   display: flex;
   align-items: baseline;
   gap: rem(8);
   width: fit-content;
   background-color: var(--bg-clr);
   border: none;
   padding: em(12, 16) em(24, 16);
   margin: 0;
   cursor: pointer;
   text-decoration: none;
   font-weight: var(--fw-medium);
   color: var(--clr);
   fill: currentColor;
   transition: all 0.5s ease;

   /*  чтобы слишком длинную кнопку не делать  */
   max-width: rem(250);
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;

   & > svg {
      width: rem(20);
      height: rem(10);
   }

   &:where(:hover, :focus-visible) {
      background-color: var(--clr-accent-500);
   }

   &:disabled {
      background-color: var(--scheme-text);
   }

   &--brown {
      --bg-clr: var(--clr-brown-800);
      --clr: var(--clr-white);
   }
}
