@use "__config" as *;

.form {
   
   &__label {
      display: grid;
      position: relative;
   }

   &__input {
      
		appearance: none;
		flex: 1;
		background-color: transparent;
		border: rem(1) solid var(--bd-color);
		padding-inline: em(32, 16);
		padding-block: em(14, 16);
   }

   &__input::placeholder {
      color: var(--scheme-headers);
   }

   &__input:where(:not([type="checkbox"], [type="radio"])) {
      outline: 0; 
   }

   &__input:where(:focus, :focus-visible) {
      border-color: var(--clr-accent);
   }

   &__input:disabled {
      // border-color: var(--clr-);
   }

   &__input--not-empty {
      
   }
   
   &__input--invalid {
      
   }

   &__error {
         position: absolute;
         bottom: -#{rem(20)};
      //----удалить
         font-size: var(--fs-12);
         color: var(--clr-error);
         margin-top: rem(10);
      //-----------
   }

   &__textarea {
      resize: none;
      height: rem(150);
   }
}