@use "__config" as *;

.autor {
	display: flex;
	flex-direction: row-reverse;
	gap: rem(10);
	justify-content: flex-end;
	align-items: center;

	&__title {
		color: var(--scheme-headers);
	}

	&__time {
		font-size: var(--fs-14);
		color: var(--scheme-text);
	}

	&__photo {
		--size: #{rem(40)};
		width: var(--size);
		height: var(--size);
		border-radius: 50%;
	}
}