@use "__config" as *;

.header {
	--icon-size: #{rem(60)};
	position: relative;

	position: sticky;
	top: -#{rem(80)};
	z-index: 1000;
	@supports (animation-timeline: view()) {
		animation: stickyNav linear forwards;
		animation-timeline: view();
		animation-range-start: 150dvh;
		animation-range-end: 180dvh;
	}

	
	&__container {
		display: flex;
		align-items: center;
		min-height: rem(60);
		justify-content: space-between;
		padding-block: rem(10);
	}

	&__space {
		display: none;
	}
}

@media (width > $headerBp) {
	.header {
	
		&__container {
			min-height: rem(80);
		}

		&__logo {
			padding-right: rem(20);
		}

		&__space {
			display: block;
			flex-basis: rem(30);
			flex-shrink: 10;
		}

		&__close {
			display: none;
		}
	}
}

@keyframes stickyNav {
	100% {
		top: 0;
		background-color: var(--clr-black-300);
	}
}
