@use "__config" as *;

.section {
	margin-block: var(--mg-section);

	&:first-child {
		margin-top: rem(60);
	}
	
	 &__header {
		margin-bottom: rem(64);
	}

	&__hgroup {
		display: grid;
		gap: rem(50);
		& h2 {
			text-wrap: pretty;
		}
	}

	&__info {
		color: var(--clr-gray);
	}

	&__sub-title {
		display: flex;
		gap: rem(16);
		align-items: center;
		font-family: var(--ff-secondary);
		color: var(--clr-accent);
		margin-bottom: rem(24);
		text-transform: uppercase;
	}

	&__sub-title::after {
		display: block;
		content: '';
		height: rem(1);
		width: rem(48);
		background-color: var(--clr-white);
	}

	&__2columns-images {
		display: none;
	}

}


@media (width > 850px) {
	.section {
		&__hgroup {
			grid-template-columns: 42% 41.6%;
			justify-content: space-between;
			align-items: baseline;
		}
		
		&__2columns {
			display: grid;
			grid-template-columns: 1fr 41.6%;
			column-gap: rem(100);
		}

		&__2columns--right {
			grid-template-columns: 1fr 41.6%;
		}

		&__2columns--left {
			grid-template-columns: 41.6% 1fr;
		}

		&__2columns-images {
			display: flex;
			gap: 12%;
			& > :first-child {
				margin-top: rem(80);
			}
		}
	}
}