@use "__config" as *;
@use "_base" as *;

.blog {


		&__cards {
			--column-size: #{rem(290)};
			// display: grid;
			// grid-auto-flow: column;
			gap: rem(32);
			// grid-column: 3;
		}

		&__card {
			background-color: var(--clr-black-300);
			color: var(--clr-gray);
		}

		&__card-link {
			text-decoration: none;
		}

		&__card-wrapper {
			padding: rem(32);
		}

		&__card-header {
			font-size: var(--fs-14);
		}

		
		&__card-title {
			font-size: var(--fs-32);
			margin-top: rem(8);
			margin-bottom: rem(16);
			@extend a;
		}
		
		&__card:hover &__card-title {
			// @extend a:hover;
		}

		&__card-footer {
			width: 100%;
			height: auto;
			object-fit: cover;
		}

}
