@use "__config" as *;

.contact {
	
	

		&__container {
			display: grid;
			grid-auto-flow: row;
			grid-auto-columns: 1fr;
			background-color: var(--scheme-bg-add);
			margin-bottom: var(--mg-section);
			overflow: hidden;
		}

		&__details {
			display: flex;
			flex-direction: column;
			gap: rem(32);
			padding: rem(30);	
			font-style: normal;
		}

		&__detail {
			display: flex;
			flex-direction: column;
			gap: rem(6);
			& > h3 {
				font-size: var(--fs-l);
				line-height: var(--lh-l);
			}
			& > p, a {
				color: var(--scheme-text);
			}
		}

		&__map {
			width: 100%;
			aspect-ratio: 4/3;
			& > * {
				width: 100%;
			}
		}
}

@media (width > $headerBp) {
	.contact {
		
		&__container {
			grid-template-columns: 1fr 66.6%;
		}

		&__details {
			padding-block: rem(80);
			padding-inline: rem(64);
		}

		&__detail {
		}

		&__map {
			height: 100%;
			aspect-ratio: auto;
		}
}
}
