@use "__config" as *;

.quote {
	position: relative;
	background-color: var(--scheme-bg-add);

		&__figure {
			width: 80%;
			margin-inline: auto;
			padding-block: rem(80);
			padding-inline: var(--padding-inline);
		}

		&__container {
			display: block;
			grid-column: full;
		}

		&__blockquote {
			color: var(--scheme-headers);
			font-family: var(--ff-secondary);
			font-size: var(--fs-32);
			font-weight: var(--fw-medium);
			line-height: rem(48);
			margin-bottom: rem(70);
		}

		&__blockquote::before {
			display: block;
			position: relative;
			left: -#{rem(5)};
			height: rem(20);
			line-height: 1;
			content: '"';
			font-family: var(--ff-main);
			font-size: var(--fs-72);
			font-style: italic;
			margin-bottom: rem(40);
		}

		&__caption {
			display: flex;
			justify-content: space-between;
			
			border-bottom: rem(1) solid var(--scheme-headers);
		}

		&__caption-wr {
			font-weight: var(--fw-medium);	
		}

		&__caption-name {
			color: var(--scheme-headers);
		}

		&__caption-cite {
			font-size: var(--fs-12);
			font-style: normal;
		}

		&__caption-photo {
			--size: #{rem(48)};
			--padding: #{rem(20)};
			width: var(--size);
			height: var(--size);
			margin-bottom: var(--padding);
			
		}

		&__caption-photo::after {
			display: block;
			content: '';
			width: 100%;
			height: rem(3);
			margin-top: calc(var(--padding) - rem(1));
			background-color: var(--scheme-headers);
		}
		
		&__caption-img {
			border-radius: 50%;
		}

		&__video-wrapper {
			display: flex;
			position: relative;
			aspect-ratio: 16/9;
			justify-content: center;
			align-items: center;			
		}

		&__video {
			position: absolute;
			inset: 0;
			height: 100%;
			object-fit: cover;
			background-size: cover;
		}

		&__video-icon {
			--size: #{rem(60)};
			position: relative;
			z-index: 1;
			width: var(--size);
			height: var(--size);
			fill: var(--scheme-headers);
			transition:  all 0.5s ease;
			& svg {
				width: 100%;
				height: 100%;
			}
		}
}


@media (width > $headerBp ) {
	.quote {	
			margin-block: 0;

		&__figure {
			width: 100%;
			padding-inline: 0;
			padding-right: rem(80);
		}

		&__container {
			--columns-size: 41.3;
			display: grid;
			grid-column: right;
		}

		&__video-wrapper {
			aspect-ratio: auto;
			width: 100%;
		}

		&__video {
			width: 100%;
			height: 100%;
		}

	}
	
}