@use "__config" as *;

.slogan {

		&__container {
			position: relative;
			padding: rem(80) rem(50);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}

		&__container::before {
			display: block;
			position: absolute;
			content: '';
			inset: 0;
			background: linear-gradient(145deg, rgba(0,0,0,0.92) 0%, rgba(0,0,0,0) 100%);
			
		}

		&__wrapper {
			position: relative;
			z-index: 1;
			color: var(--clr-gray);
		}

		&__header {
			font-size: var(--fs-48);
			margin-bottom: rem(24);
			color: var(--clr-white);
		}
}

@media (width > $headerBp) {
	.slogan {
		&__container {
			padding: rem(124) rem(80);
		}

		&__container::before {
			background: linear-gradient(145deg, rgba(0,0,0,0.92) 0%, rgba(0,0,0,0) 80%);
		}

		&__wrapper {
			width: 50%;
		}
		
	}
}
